# EDA

In [1]:
## import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from  scipy import stats as st
import statsmodels.formula.api as sm
import re

In [2]:
## read the csv file
df = pd.read_csv('DataAnalyst 2.csv')
df.columns = df.columns.str.replace(' ', '_')
df

,Unnamed:_0,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Headquarters,Size,Founded,Type_of_ownership,Industry,Sector,Revenue,Competitors,Easy_Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [3]:
## clean the salary column
df['Salary_Estimate'] = df['Salary_Estimate'].str.replace('$', '')
df['Salary_Estimate'] = df['Salary_Estimate'].str.replace('K', '')
df['Salary_Estimate'] = df['Salary_Estimate'].str.replace('(Glassdoor est.)', '')
df['Salary_Estimate'] = df['Salary_Estimate'].str.replace('(', '')
df['Salary_Estimate'] = df['Salary_Estimate'].str.replace(')', '')
df['Salary_Estimate'] = df['Salary_Estimate'].str.replace(' ', '')
df['Salary_Estimate'] = df['Salary_Estimate'].str.split('-')
# df['Salary_Estimate'] = (df['Salary_Estimate'].str[0].astype(int) + df['Salary_Estimate'].str[1].astype(int))/2

<ipython-input-3-6c6517192552>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Salary_Estimate'] = df['Salary_Estimate'].str.replace('$', '')
<ipython-input-3-6c6517192552>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Salary_Estimate'] = df['Salary_Estimate'].str.replace('(Glassdoor est.)', '')
<ipython-input-3-6c6517192552>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Salary_Estimate'] = df['Salary_Estimate'].str.replace('(', '')
<ipython-input-3-6c6517192552>:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Salary_Estimate'] = df['Salary_Estimate'].str.replace(')', '')

In [4]:
## functions
# make the salary numeric
def salary(x):
    if len(x) == 2:
        if x[0] == '':
            return int(x[1])
        else:
            ans = (int(x[0]) + int(x[1])) / 2
            return ans
    else:
        return x
# identify if the job title is for senior or not
def senior(x):
    if 'senior' in x.lower():
        return 1
    else:
        return 0

In [5]:
# applying the functions from above to the dataframe
df['Salary_Estimate'] = df['Salary_Estimate'].apply(lambda x: salary(x))
df['Senior'] = df['Job_Title'].apply(lambda x: senior(x))
df.columns

Index(['Unnamed:_0', 'Job_Title', 'Salary_Estimate', 'Job_Description',
       'Rating', 'Company_Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type_of_ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy_Apply', 'Senior'],
      dtype='object')

In [6]:
## clean the company_name
df['Company_Name'] = df['Company_Name'].map(lambda x:str(x).split('\n')[0])

In [7]:
## get the state code
df['Location_code'] = df['Location'].map(lambda x:x.split(', ')[1])
df.sample(3)

,Unnamed:_0,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Headquarters,Size,Founded,Type_of_ownership,Industry,Sector,Revenue,Competitors,Easy_Apply,Senior,Location_code
225,225,Client Service Data Analyst,59.5,Our Client a Global Japanese Investment Bank i...,4.1,Phyton Talent Advisors,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1,0,NY
2153,2153,Data Analyst Junior,44.0,Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC","Athens, GA","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,0,GA
186,186,Data Analyst,85.0,About Capgemini Capgemini is a global leader i...,-1.0,"Capgemini America, Inc.","Jersey City, NJ",-1,-1,-1,-1,-1,-1,-1,-1,-1,0,NJ

In [8]:
df.loc[df['Location_code']=='Arapahoe','Location_code'] = 'CO'

In [9]:
df['Location_code'].unique()

array(['NY', 'NJ', 'UT', 'CA', 'VA', 'FL', 'IL', 'TX', 'AZ', 'PA', 'DE',
       'OH', 'NC', 'SC', 'IN', 'WA', 'GA', 'KS', 'CO'], dtype=object)

In [10]:
len(df['Location_code'].unique())

19

In [11]:
## clean the size
df['Size_new'] = df['Size'].map({'201 to 500 employees':350,
                                '10000+ employees':10000,
                                '1001 to 5000 employees':3000,
                                '501 to 1000 employees':750,
                                '5001 to 10000 employees':7500,
                                '1 to 50 employees':25,
                                '51 to 200 employees':125,
                                'Unknown':-1,
                                '-1':-1})

In [ ]:
df['Revenue'].unique()

In [12]:
## clean the revenue
df['Revenue_new'] = df['Revenue'].map({'$100 to $500 million (USD)':300,
                                    '$2 to $5 billion (USD)':3500,
                                    'Unknown / Non-Applicable':-1,
                                    '$50 to $100 million (USD)':75,
                                    '$1 to $2 billion (USD)':1500,
                                    '$5 to $10 billion (USD)':7500,
                                    '$1 to $5 million (USD)':3,
                                    '$25 to $50 million (USD)':37.5,
                                    '$10+ billion (USD)':10000,
                                    'Less than $1 million (USD)':1,
                                    '$10 to $25 million (USD)':17.5,
                                    '-1':-1,
                                    '$500 million to $1 billion (USD)':750,
                                    '$5 to $10 million (USD)':7.5})
df.head()

,Unnamed:_0,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Headquarters,Size,Founded,Type_of_ownership,Industry,Sector,Revenue,Competitors,Easy_Apply,Senior,Location_code,Size_new,Revenue_new
0,0,"Data Analyst, Center on Immigration and Justic...",51.5,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,0,NY,350,300.0
1,1,Quality Data Analyst,51.5,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,0,NY,10000,3500.0
2,2,"Senior Data Analyst, Insights & Analytics Team...",51.5,Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,1,NY,3000,-1.0
3,3,Data Analyst,51.5,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,0,NY,350,75.0
4,4,Reporting Data Analyst,51.5,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,0,NY,750,300.0

In [13]:
## exploring skills
skills = ['SQL','Python','Machine Learning']
for s in skills:
    df[s] = None
    for i in range(df.shape[0]):
        m = re.search(f'(.*){s}', df['Job_Description'][i],re.IGNORECASE)
        if m:
            flag = 1
        else:
            flag = 0
        df[s][i]=flag

<ipython-input-13-c9d4d4a513f5>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[s][i]=flag

In [14]:
df['SQL'].value_counts()

1    1389
0     864
Name: SQL, dtype: int64

In [15]:
df['Python'].value_counts()

0    1616
1     637
Name: Python, dtype: int64

In [16]:
df['Machine Learning'].value_counts()

0    2073
1     180
Name: Machine Learning, dtype: int64

In [ ]:
graph = pd.DataFrame({'SQL':[df['SQL'].value_counts()[0]],
                     'Python':[df['Python'].value_counts()[1]],
                     'Machine Learning': [df['Machine Learning'].value_counts()[1]]})

In [ ]:
graph

In [ ]:
ax = sns.barplot(data=graph,palette="Paired")

In [ ]:
## prepare the dataset for the plot
Job_Loc = df.groupby('Location_code')[['Salary_Estimate']].count()
Job_Loc = Job_Loc.rename(columns={'Salary_Estimate':'Num_Jobs'})

In [ ]:
Job_Loc.sort_values(by='Num_Jobs',ascending=False)

In [ ]:
import plotly.graph_objects as go
fig = go.Figure(data=go.Choropleth( 
    locations=Job_Loc.index,
    z = Job_Loc['Num_Jobs'],
    locationmode = 'USA-states',
    colorscale = 'Blue', 
    colorbar_title = '# of jobs',
)) 
fig.update_layout( 
    title_text = '# of Data-related jobs in the US',
    geo_scope='usa'
) 
fig.show()

In [ ]:
Loc_Mean_Sal = df.groupby('Location_code')[['Salary_Estimate']].mean()
Loc_Mean_Sal = Loc_Mean_Sal.rename(columns={'Salary_Estimate':'Average_Salary'})

In [ ]:
Loc_Mean_Sal.sort_values(by='Average_Salary',ascending=False)

In [ ]:
fig = go.Figure(data=go.Choropleth( 
    locations=Loc_Mean_Sal.index,
    z = Loc_Mean_Sal['Average_Salary'],
    locationmode = 'USA-states',
    colorscale = 'Reds', 
    colorbar_title = 'Average Salary (K)',
)) 
fig.update_layout( 
    title_text = 'Average salary for Data-related jobs in the US',
    geo_scope='usa'
) 
fig.show()

# Data of three main states

## CA

In [ ]:
CA = df[df['Location_code']=='CA']
CA_data_1 = CA.groupby('Sector')['Sector'].count().sort_values(ascending=False).to_frame()

In [ ]:
CA = df[df['Location_code']=='CA']
CA_data_2 = CA.groupby('Sector')['Salary_Estimate'].mean().sort_values(ascending=False).to_frame()

In [ ]:
CA_merge = CA_data_1.merge(CA_data_2,left_on = CA_data_1.index,right_on = CA_data_2.index)
CA_merge.rename(columns = {'key_0':'Sector','Sector':'Count','Salary_Estimate':'Average Salary'},inplace=True)
CA_merge.sort_values(by='Average Salary',ascending=False)

## NY

In [ ]:
NY = df[df['Location_code']=='NY']
NY_data_1 = NY.groupby('Sector')['Sector'].count().sort_values(ascending=False).to_frame()

In [ ]:
NY = df[df['Location_code']=='NY']
NY_data_2 = NY.groupby('Sector')['Salary_Estimate'].mean().sort_values(ascending=False).to_frame()

In [ ]:
NY_merge = NY_data_1.merge(NY_data_2,left_on = NY_data_1.index,right_on = NY_data_2.index)
NY_merge.rename(columns = {'key_0':'Sector','Sector':'Count','Salary_Estimate':'Average Salary'},inplace=True)
NY_merge.sort_values(by='Average Salary',ascending=False)

## TX

In [ ]:
TX = df[df['Location_code']=='TX']
TX_data_1 = TX.groupby('Sector')['Sector'].count().sort_values(ascending=False).to_frame()

In [ ]:
TX = df[df['Location_code']=='TX']
TX_data_2 = TX.groupby('Sector')['Salary_Estimate'].mean().sort_values(ascending=False).to_frame()

In [ ]:
TX_merge = TX_data_1.merge(TX_data_2,left_on = TX_data_1.index,right_on = TX_data_2.index)
TX_merge.rename(columns = {'key_0':'Sector','Sector':'Count','Salary_Estimate':'Average Salary'},inplace=True)
TX_merge.sort_values(by='Average Salary',ascending=False)

# Stats

## t-tests

In [ ]:
def state(x, y):
   ca = df[df['Location'].str.contains(x)]
   mean = ca['Salary_Estimate'].mean()
   ca_mean = ca.groupby('Sector').Salary_Estimate.mean().to_frame()
   ca_std = ca.groupby('Sector').Salary_Estimate.std().to_frame()
   ca_cnt = ca.groupby('Sector').Salary_Estimate.count().to_frame()
   ca1 = ca_mean.merge(ca_std, left_on = 'Sector', right_on = 'Sector', how = 'inner')
   ca_merge = ca1.merge(ca_cnt, left_on = 'Sector', right_on = 'Sector', how = 'inner')
   ca_merge = ca_merge.rename(columns={"Salary_Estimate_x": "Salary_Estimate", "Salary_Estimate_y": "std", "Salary_Estimate": "count"})
   ca_merge = ca_merge[(ca_merge['count'] >= 10) & (ca_merge.index != '-1')].sort_values(by = 'Salary_Estimate', ascending = False)
   ca_sector = ca[ca['Sector'] == y]['Salary_Estimate'].to_numpy()
   ans = st.ttest_1samp(a=ca_sector, popmean=mean, alternative  = 'greater')
   return ca_merge, ans

In [ ]:
ca = state('CA', 'Accounting & Legal')
ca

In [ ]:
ny = state('NY', 'Business Services')
ny

In [ ]:
tx = state('TX', 'Business Services')
tx

## Regression

In [ ]:
df["ca"] = [1 if x == "CA" else 0 for x in df['Location_code']]

In [ ]:
df["ny"] = [1 if x == "NY" else 0 for x in df['Location_code']]

In [ ]:
df["bs"] = [1 if x == "Business Services" else 0 for x in df['Sector']]

In [ ]:
df[df['Location_code'].isin(['CA','NY','TX']) & df['Sector'].isin(['Business Services','Accounting & Legal'])]

### Regression 1

In [ ]:
result = sm.ols(formula="Salary_Estimate ~ ca+ny+bs", 
                data=df[df['Location_code'].isin(['CA','NY','TX']) & (df['Sector'].isin(['Business Services','Accounting & Legal']))]).fit()
print(result.summary())

### Regression 2

In [ ]:
result = sm.ols(formula="Salary_Estimate ~ ny*bs+ca*bs", 
                data=df[df['Location_code'].isin(['CA','NY','TX']) & (df['Sector'].isin(['Business Services','Accounting & Legal']))]).fit()
print(result.summary())

## Skill sets in job description

In [ ]:
skills = ['SQL','Python','MachineLearning',
          'SPSS','MATLAB','SAS','Spark','Hadoop',
         'MongoDB','Tableau']
data = df[(df['Location_code'].isin(['CA','NY','TX'])) & df['Sector'].isin(['Business Services','Accounting & Legal'])]

In [ ]:
def hardskills(x):
    count = 0
    for i in skills:
        i = i.lower()
        if i in x.replace("\n","").replace(" ","").lower():
            count += 1
    return count

In [ ]:
data["skills"] = data['Job_Description'].apply(lambda x: hardskills(x))
data["skills"]

In [ ]:
data["skills"].value_counts()

#### Regression 3

In [ ]:
result = sm.ols(formula="Salary_Estimate ~ ny*bs+ca*bs+skills", 
                data=data).fit()
print(result.summary())

#### Regression 4

In [ ]:
result = sm.ols(formula="Salary_Estimate ~ ny*bs+ca*bs+skills+Size_new", 
                data=data).fit()
print(result.summary())

#### Regression 5

In [ ]:
data.sample(20)

In [ ]:
data5 = data[~(data['Revenue_new']== -1)]

In [ ]:
data5['Revenue_new'].value_counts()

In [ ]:
data5.sample(20)

In [ ]:
result = sm.ols(formula="Salary_Estimate ~ ny*bs+ca*bs+skills+Size_new+Revenue_new", 
                data=data5).fit()
print(result.summary())

In [ ]:
# import re


# skills = ['SQL','Python','MachineLearning',
#           'SPSS','MATLAB','SAS','Spark','Hadoop',
#          'MongoDB','Tableau']
# data['Jobs'] = None
   
# for i in range(data.shape[0]):
#     for s in skills: 
#         m = re.search(f'(.*){s}', data['Job_Description'][i],re.IGNORECASE)
#         if m:
#             flag += 1
#     data['Jobs'][i]=flag

In [ ]:
# for s in skills:
#     print(f'{s}: ',df[(df['Location_code']=='CA') & (df['Sector']=='Information Technology')][s].sum())

In [ ]:
# for s in skills:
#     print(f'{s}: ',df[(df['Location_code']=='TX') & (df['Sector']=='Information Technology')][s].sum())

In [ ]:
# for s in skills:
#     print(f'{s}: ',df[(df['Location_code']=='NY') & (df['Sector']=='Information Technology')][s].sum())

In [ ]:
# df[(df['Location_code']=='TX') & (df['Sector']=='Business Services')]['SQL'].sum()

In [ ]:
# df[(df['Location_code']=='TX') & (df['Sector']=='Business Services')]['Python'].sum()

In [ ]:
# df[(df['Location_code']=='TX') & (df['Sector']=='Business Services')][''].sum()

In [ ]:
# df['SQL'].value_counts()

In [ ]:
# df['Python'].value_counts()

In [ ]:
# df['Machine Learning'].value_counts()

In [ ]:
# l = ['CA', 'NY', 'TX']